* {
    margin: 0;
    padding: 0;
    --primary-color: #fc0;
    --skinny-font: "PT Sans Narrow";
}
body {
    background: rgb(204, 202, 202);
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    font-family: Fascinate;
    font-style: italic;
    text-align: center;
    padding: 30px;
    color: white;
    text-shadow: var(--primary-color) 1px 0 10px;
}

.navbar {
    background: var(--primary-color);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}
.nav-link {
    color: black;
    text-decoration: none;
    font-family: var(--skinny-font);
    font-size: 36px;
}

input {
    padding: 5px 55px 5px 3px;
    font-family: var(--skinny-font);
}
button {
    background: rgb(35, 35, 35);
    color: white;
    font-family: var(--skinny-font);
    padding: 5px 40px;
}

main {
    display: flex;
}
.article {
    background: white;
    flex-basis: 70%;
    padding: 10px;
    margin: 15px 15px 15px 0;
}
.article h2 {
    font-family: Fascinate;
    font-style:italic;
    text-align: center;
    padding: 20px;
}
.article p {
    font-family: var(--skinny-font);
    margin: 10px;
}
.subsection-title {
    font-family: Fascinate;
    font-style:italic;
}

.sidebar {
    background: var(--primary-color);
    padding: 20px 30px;
    margin: 15px 0 15px 0;
    flex-basis: 25%;
}
.sidebar-title {
    font-family: Fascinate;
    font-style: italic;
    text-align: center;
    padding: 10px;
}
.sidebar-list {
    padding: 20px;
}

.copyright-text {
    font-family: var(--skinny-font);
    background: white; 
    padding: 35px;
    margin-bottom: 30px;
}