* {
    margin: 0;
    padding: 0;
    --primary-color: #fc0;
}
body {
    background: rgb(204, 202, 202);
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    font-family: Fascinate;
    font-style: italic;
    text-align: center;
    padding: 30px;
    color: white;
    text-shadow: var(--primary-color) 1px 0 10px;
}